@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.garis-vertical {
width: 100%;
height: 5px;
background-color: black;
margin-right: auto;
margin-left: auto;
margin-top: 5px;
margin-bottom: 5px;
border-width: 2px;
}